.typewriter {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: 0;
    animation: typing 4s steps(10) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from, to { border-color: transparent}
    50% {border-color: black}
}
